<h1>投稿の一覧</h1>
<ul class="notes">
  <% @restaurants.each do |restaurant| %>
    <li>
      <p>店名</p>
      <span class="content">
        <%= link_to restaurant.name, restaurant_path(restaurant.id)%>
      </span>
    </li>
  <% end %>
</ul>
