<h1>restaurants.html</h1>
	<div class="wrap">
		<h1 id="current-time"><%= @time.to_s(:published_on) %></h1>
		<%= link_to 'Search', {:controller=>'restaurants',:action=>'restaurantsSearch'}, :class => "button" %>
	</div>
	<ul class="shop-list">
		<% @restaurants.each do |restaurants| %>
			<li class="shop-button">
				<%=restaurants.name %>
			</li>
		<% end %>
	</ul>
	<!-- <ul class="shop-list">
		<li class="shop-button">
			天竜
		</li>
		<li class="shop-button">
			盃爛処
		</li>
		<li class="shop-button">
			白木屋
		</li>
		<li class="shop-button">
			いろはにほへと
		</li>
		<li class="shop-button">
			作蔵
		</li>
		<li class="shop-button">
			権兵衛
		</li>
		<li class="shop-button">
			MAGENDO
		</li> -->
	<!-- </ul> -->
